ul{
  list-style: none;
}
h1{
  margin: auto;
}
table, th, td{
  border-collapse: collapse;
  border: 1px solid;
}
.discription{
}
.network{
  height: 10px;
  margin: 20px;
}
.namespace{
  float: left;
}
#namespaceTable{
  margin: 5px;
}
.mosaicQuantity{
  float: left;
}
#mosaicQuantityTable{
  margin: 5px;
}
#mosaicTxTable{
  margin: 5px;
}
.mosaic{
  height: 10px;
  margin: 20px;
}
.mosaic p{
  margin-bottom: 0;
}
