ul{
  list-style: none;
}
h1{
  margin: auto;
}
table, th, td{
  border-collapse: collapse;
  border: 1px solid;
}
.discription{
}
.network{
  height: 10px;
  margin: 20px;
}
.table{
  margin: 5px;
  float: left;
}
